@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@font-face {
    font-family:'Gilroy';
    src: url('Gilroy-Regular.ttf');
    
}
@font-face {
    font-family:'Gilroy-bold';
    src: url('Gilroy-Bold.ttf');    
}

@font-face {
    font-family:'Gilroy-semibold';
    src: url('Gilroy-SemiBold.ttf');    
}

@font-face {
    font-family:'Gilroy-medium';
    src: url('Gilroy-Medium.ttf');    
}

html{
    font-size: 20.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body {
    width: inherit;
    background-color: #ffffff;
}

.logo-container{
    padding: 10px;
    background: #FFFFFF;
}

.logo{
    display: flex;
    flex-direction: row;
    border: 1px solid #F0F1F1;
    background:#F9F7F5;
    border-radius: 12px;
    padding: 8px 36px 8px 8px;
    margin-left: 8px;
}

.logo > div {
    margin-top: 8px;
    margin-left: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #F9F7F5;
    overflow-x: hidden;
    
}

.a{
    padding-top: 72px;
}

a > img{
    margin-right: 4px;
}
  
.sidenav a {
    padding: 6px 6px 16px 32px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #384747;
    display: block;
    align-items: center;
    margin-top: 12px;
}

.cont-p{
    display: flex;
    justify-content: space-between;
    background: #F9F7F5; ;
}

.perk-active{
    border-radius: 12px;
    padding-right: 64px;
    background: #F1EAE4;

}

.perk-active > a{
   color: #0080FF; 
}

.highlight{
   
    width: 10px;
    height: 60px;
    background: #00CFFF;
    border-radius: 12px 0 0 12px;
}

.lefthead-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    right: 0;
    position: fixed;
    padding-top: 12px;
    padding-right: 12px;
}

.lefthead-container > div {
    gap: 8px;
}

.profile{
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    align-items: center;
}

.profile > div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

.drop{
    height: 8px;
    width: 8px;
}

#circle {
    background: lightblue;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.cont {
    text-align: center; 
    padding-top: 66px;
}

.line {
    margin-top:0;
    height: 1px;
    width: 100%;
    background: #D6DBDB;
}

.main{
    padding-left: 20%;
    padding-right: 10%;
}

.pp-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
    
}

.perk-prop {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.01em;
   
}

.kyc{
    border: 1px solid #D6DBDB;
    border-radius: 12px 12px 0px 0px;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    gap: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #000000;

}

.main-line {
    text-align: center; 
    padding-top: 0;
}

.line {
    margin-top:0;
    height: 1px;
    width: 100%;
    background: #D6DBDB;
}



.main-container{
    display: flex;
    flex-direction: row;
    padding-top: 64px;
}

.main-container{
    display: flex;
    flex-direction: row;
    padding-top: 64px;
}

.main-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-container{
    width: 70%;
    background: #FFFFFF;
    padding-top: 16px;
    position: relative;
}

.serch-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}

.serch-sec > .h{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;

}

.in-line {
    text-align: center; 
    padding-top: 0;

}

.line {
    margin-top:0;
    height: 1px;
    width: 100%;
    background: #D6DBDB;
}

input[type=text] {
    font-size: 17px;
    border: none;
    background: rgba(240, 241, 241, 0.5);
}

.search{
    display: flex;
    flex-direction: row;
    gap: 8px;
    right: 0px;
    position: absolute;
   
}

form{
    float: left;
    background: rgba(240, 241, 241, 0.5);
    border: 1px solid #D6DBDB;
    height: 32px;
    border-radius: 12px;

}  

.search button {
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(240, 241, 241, 0.5);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.search button:hover {
    background: rgba(240, 241, 241, 0.5);
}

input:focus{
    outline: none !important;
}

.sort{
    display: flex;
    align-items: center;
    padding: 4px 12px 4px 12px;
    background: #FFFFFF;
    border: 1px solid #D6DBDB;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.sort > img{
    margin-left: 4px;
}


.left-container > div > .p > span{
    float: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    text-decoration: underline;
    letter-spacing: 0.02em;
    color: black;                 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: white;
    padding-top: 18px;
    margin: 2px;
    border-radius: 0 0 12px 12px; 
    position: absolute;
    
}

.grid{
    border: 1px solid #E4E7E7;
    border-radius: 16px;
    
    
    
}

.product-img{
    background: #F7F8F8;
    width: 100%;
    height: 270px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.product-info{
    padding: 12px;
}

.product-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    margin-bottom: 10px;
}

.store{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #384747;
    margin-bottom: 10px;
}

.store > span{
    color: red;
}

.stars{
    margin-bottom: 4px;
}



.price-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-sec > .amount{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
}

.price-sec > .offer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #384747;
}


.right-container{
    background: #F2F8F5;
    width: 25%;
    padding: 12px;
    height: auto;
    margin-top: 0;
    margin-left: 48px;
    border-radius: 12px 12px 0 0;
}

.right-container > .align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px 0 8px;
}

.refine{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}

.selection{
    padding-top: 48px;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-container {
    background: #E9F1F0;
    border-radius: 0px 0px 8px 8px;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

  }

 

  .medium{
      margin-bottom: 8px;
  }

  input[type="checkbox"] {
    appearance:none;
    margin:0 16px;
    width: 18px;
    height: 18px;
    background: #E9F1F0;
    border: 1.8px solid #0080FF;
    border-radius: 6px;
    transition: .2s;
    cursor:pointer;
    color: #363945;
  }

    label{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.02em;
    }
  
input:hover,
    input:checked {
      background: #0080FF;
      box-shadow:
      inset 0 0 0 .6em #E9F1F0,
      0 0 0 .1em #0080FF;
    }
    
input:checked {
      background: #0080FF;
      box-shadow:
        inset 0 0 0 .1em #E9F1F0,
        0 0 0 .1em #0080FF;
    } 

.media{
    display: none;
}